.Rproj.user
.Rhistory
.RData
.Ruserdata

data/book_data/
data/SBC-LTER-benthics/
data/km_traits.csv/
/Users/An/github/algae-traits/data/isotopes/si_run01.docx
/Users/An/github/algae-traits/figures/basic-visualizations/distributions
/Users/An/github/algae-traits/figures/basic-visualizations/boxplots
